<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/styles/login.css">
</head>

<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div><span>Iniciar sesión</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="correo electronico" name="user"><br>
				<input type="password" placeholder="contraseña" name="password"><br>
				<input type="button" value="Entrar">
		</div>
 
</html>